.side-nav {
    height: 100vh;
    width: $navigation-width;
    background-color: white;
    position: fixed;
    z-index: 1;
    overflow-y: auto;
    padding: 16px;
    margin-top: 3.5rem;

    &-bordered {
        &-right {
            border-right: 1px solid gray;
        }
    }
}

.navbar {
    background-color: #353535;
    position: fixed;
    width: 100%;
    z-index: 6;
    top: 0;
    display: flex;
}
