$navigation-width: 250px;

.is-danger {
    color: red;
}

.is-margin-horizontal {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.is-margin-vertical {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.is-padding-horizontal {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.is-margin-top {
    margin-top: 2rem !important
}

.is-margin-top-smaller {
    margin-top: 1.25rem !important;
}

.is-margin-bottom {
    margin-bottom: 2rem !important;
}

.is-margin-bottom-smaller {
    margin-bottom: 1.25rem !important;
}

.is-margin-left {
    margin-left: 2rem !important;
}

.is-margin-left-smaller {
    margin-left: 1.25rem !important;
}

.is-margin-right {
    margin-right: 2rem !important;
}

.is-margin-right-smaller {
    margin-right: 1.25rem !important;
}