$navigation-width: 250px;

.is-margin-top {
    margin-top: 2rem !important
}

.is-margin-top-smaller {
    margin-top: 1.25rem !important;
}

.is-margin-bottom {
    margin-bottom: 2rem !important;
}

.is-margin-bottom-smaller {
    margin-bottom: 1.25rem !important;
}

.is-margin-left {
    margin-left: 2rem !important;
}

.is-margin-left-smaller {
    margin-left: 1.25rem !important;
}

.is-margin-right {
    margin-right: 2rem !important;
}

.is-margin-right-smaller {
    margin-right: 1.25rem !important;
}